body{   
}

/*banner*/
.banner {

}
.bannerpicture {
    height: 180px;
    width: 89%;
}
/*banner*/

/*menu*/
.navbar {
	width: 89%;
}
/*menu*/

/*main*/
.main {
{
}
.stream {

}
/*main*/
