body{   
	background-color: #666666;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

p {
	color: white;
}

.logo {
	
}

.bokning {
	color: white;
}

.bokning:hover {
	color: red;
}

/*banner*/
.banner {

}
.bannerpicture {
    height: 180px;
    width: 89%;
}
/*banner*/

/*menu*/
.navbar {
	width: 89%;
}
/*menu*/

/*main*/
.main {

{
}
.stream {

}
/*main*/
